project_name  = "starttech"
aws_region    = "us-east-1"
ecr_image_uri = "778015578223.dkr.ecr.us-east-1.amazonaws.com/starttech-backend:latest"
jwt_secret    = "starttech-super-secure-jwt-key-2026"